/* LIST COMPONENT */
.list-item-wrapper {
  width: 87%;
  padding-left: 15%;
}

.lionsclub-list > .list-item {
  background-color: #f7f7f7;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lionsclub-list .CalendarMonth {
  padding-left: 0;
}

.lionsclub-list .components-datetime__time-field-time {
  display: none;
}

.lionsclub-block button {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  box-shadow: inset 0 -1px 0 #ccc;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
}

.lionsclub-list .move-item-up {
  position: absolute;
  left: 0%;
  top: calc(50% - 66px);
}

.lionsclub-list .remove-item {
  position: absolute;
  left: 0%;
  top: calc(50% - 21px);
}

.lionsclub-list .move-item-down {
  position: absolute;
  left: 0%;
  top: calc(50% + 24px);
}

/* IMAEG COMPONENT */

.image-icon {
  position: relative;
  padding: 0;
  margin: 0;
  width: 50%;
  min-height: 200px;
  display: inline-block;
}

.image-icon-trash {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}

.image-icon-trash:hover {
  opacity: 1;
}

.image-icon-trash > button {
  margin: 20% 45%;
  cursor: pointer;
}

.editor-rich-text {
  box-shadow: 0 0 0 transparent;
  transition: box-shadow 0.1s linear;
  border-radius: 4px;
  border: 1px solid #8d96a0;
  padding: 6px 8px;
  margin-bottom: 5px;
  max-height: 250px;
  overflow-y: auto;
  background-color: white;
}

.formulare-description {
  width: 45%;
  position: absolute;
  right: 22px;
  top: 27px;
}
