/* TIMELINE LIST */

.wp-block-lionsclub-timeline > h2 {
  text-align: center;
}

.wp-block-lionsclub-timeline .list-item {
  position: relative;
  padding: 5px 0px;
  border-right: solid #00338d thin;
  width: calc(50% + 1px);
  box-sizing: border-box;

  /* ANIMATION */
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  transform: scale(1);
}

.wp-block-lionsclub-timeline .list-item-hidden {
  opacity: 0;
}

.wp-block-lionsclub-timeline .list-item > .heading {
  margin-bottom: 0.5em;
  font-family: "Helvetica Neue";
  width: 80%;
}

.wp-block-lionsclub-timeline .list-item > img {
  width: 80%;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.wp-block-lionsclub-timeline .list-item-hidden > img {
  opacity: 0;
  transform: scale(0.8);
}

.wp-block-lionsclub-timeline .list-item > .subline {
  position: absolute;
  left: 0;
  bottom: -1em;
}

.wp-block-lionsclub-timeline .list-item > .year {
  position: absolute;
  margin: 0;
  right: 10px;
  top: calc(50% + 1em);
}

.wp-block-lionsclub-timeline .list-item > .year::after {
  position: absolute;
  right: -18px;
  bottom: 4px;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: white;
  border: solid #00338d thin;
}

@media only screen and (max-width: 550px) {
  .wp-block-lionsclub-timeline .list-item {
    width: 80%;
    margin: 0% 10%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .subline {
    bottom: 0 !important;
  }
}

@media only screen and (min-width: 550px) {
  .wp-block-lionsclub-timeline .list-item:nth-child(2n + 1) {
    margin-left: 50%;
    border-right: none;
    border-left: solid thin;
  }

  .wp-block-lionsclub-timeline .list-item:nth-child(2n + 1) > .heading {
    text-align: right;
    margin-left: 20%;
  }

  .wp-block-lionsclub-timeline .list-item:nth-child(2n + 1) > img {
    margin-left: 20%;
  }

  .wp-block-lionsclub-timeline .list-item:nth-child(2n + 1) > .year {
    left: 10px;
    right: unset;
  }

  .wp-block-lionsclub-timeline .list-item:nth-child(2n + 1) > .year::after {
    position: absolute;
    left: -18px;
    bottom: 4px;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: white;
    border: solid #00338d thin;
  }

  .wp-block-lionsclub-timeline .list-item:nth-child(2n + 1) > .subline {
    right: 0;
    left: unset;
  }
}

/* MEMBERS LIST */

.wp-block-lionsclub-members > section {
  position: relative;
  min-height: 200px;
  background-color: #00338d;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.wp-block-lionsclub-members .left {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 100%;
}

.wp-block-lionsclub-members .left > p {
  background-color: rgba(255, 255, 255, 0.5);
  width: fit-content;
  padding: 5px 8px;
  position: absolute;
  bottom: -24px;
  right: 0;
}

.wp-block-lionsclub-members .left > p > b {
  margin-right: 7px;
}

.wp-block-lionsclub-members > section > p {
  display: inline-block;
  width: 50%;
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: lighter;
  line-height: 170%;
  text-align: center;
  margin-left: 50%;
  padding: 0px 40px;
  color: white;
}

@media only screen and (max-width: 550px) {
  .wp-block-lionsclub-members .left {
    position: relative;
    margin-left: 0;
    height: 200px;
    width: 100%;
  }

  .wp-block-lionsclub-members > section > p {
    position: relative;
    margin-left: 0;
    width: 100%;
  }
}

/* PROJECT LIST */

.wp-block-lionsclub-projects > section {
  height: 300px;
  background-size: cover;
}

.wp-block-lionsclub-projects > section > .right {
  height: 100%;
  width: 50%;
  margin-left: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.wp-block-lionsclub-projects > section > .right > a {
  position: absolute;
  bottom: 20px;
}

.wp-block-lionsclub-projects > section > .right > a > h3 {
  margin: 5px;
}

@media (max-width: 550px) {
  .wp-block-lionsclub-projects > section > .right {
    width: 100%;
    margin-left: 0px;
    padding: 10px 10%;
  }
}
